<section id="todos">
  <header>
    <h2> Editing "<%= @todo_list[:name] %>"</h2>
    <ul>
      <form action="/lists/delete" method="post">
        <button class="delete" name="list_number" value=<%=@list_number%>>Delete List</button>
      </form>    
    </ul>  
  </header>
</section>

<form action="/edit_list/<%= @list_number %>" method="post">
  <dl>
    <dt>
      <label for="new_name">Enter the new name for <%= @todo_list[:name] %>:</label>
    </dt>
    <dd>
      <input name="new_name" placeholder="List Name" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%= @list_number %>">Cancel</a>
  </fieldset>
</form>