<section class='<%= list_class(@todo_list) %>' id="todos">
  <header>
    <h2><%= @todo_list[:name] %></h2>
    <ul>
      <li>
        <form action="/lists/<%=@todo_list[:id]%>/complete_all" method="post">
          <button class="check" type="submit">Complete All</button>
        </form>
      </li>
 
      <li><a href="/edit_list/<%=@todo_list[:id]%>" class="edit">Edit List</a></li>
    </ul>  
  </header>


<% content_for :header_links do %>
  <a class="list" href="/lists">All Lists</a>
<% end %>

<ul>
  <% @todo_list[:todos].sort_by { |todo| todo[:completed] ? 1 : 0 }.each do |list_item| %>
    
    <li <%="class='complete'" if list_item[:completed]%>>
        
      <form action="/lists/<%=@todo_list[:id]%>/list_item/<%=list_item[:id]%>/complete" method="post" class="check">
         <input type="hidden" name="completed" value="<%=!list_item[:completed]%>"/>
         <button type="submit">Complete</button>
      </form>
        
      <h3><%= list_item[:name] %></h3>
      
      <form action="/lists/<%=@todo_list[:id]%>/list_item/<%=list_item[:id]%>/delete" method="post" class="delete">
          <button type="submit">Delete</button>
      </form>  
      
    </li>
    
  <% end %>
</ul>

<form action="/lists/<%=@todo_list[:id]%>/list_item" method="post">
  <dl>
    <dt>
      <label for="list_item">Enter a new 'to-do' for this list:</label>
    </dt>
    <dd>
      <input name="list_item" placeholder="List your Todo Item Here" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%=@todo_list[:id]%>">Cancel</a>
  </fieldset>
</form>

</section>